<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <ol id="list">
      <li id="write">Write to disk (server)</li>
      <li id="download">Download to disk (browser)</li>
      <li id="show">Show in browser</li>
    </ol>
    <div id="display"></div>

    <script src="/javascripts/index.js"></script>
  </body>
</html>
